@model List<Somali_Market_Hub.Web.Version2.Models.Domain.UserAccount>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Creating Users Page";
}

<h1></h1>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>List of the Users in Somali Market Hub Platform <small>✔</small></h2>

                <!-- Add Button moved to the right corner -->
                <div class="float-right">
                    <a asp-action="CreateUser" class="btn btn-primary">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <div id="toast-success" class="toast fade" role="alert">
                                <div class="toast-body bg-success text-white">User Type added successfully.</div>
                            </div>

                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>User Name</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td>@user.Id</td>
                                            <td>@user.Fullname</td>
                                            <td>@user.Email</td>
                                            <td>@user.Username</td>
                                            <td>
                                                <a asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-warning">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
